<div class="container">
    <div class="pageloader gray-bg">
        <div class="loader">
            <span>{{message}}</span>
            <div class="sp-hydrogen"></div>
            <a class="btn btn-secondary" href="/accounts/login" role="button">Go to Login Page</a>
        </div>
    </div>

    <div class="container bootstrap snippets bootdeys">
        <div class="jumbotron">
            <h1 id="loading-text">Loading...</h1>
        </div>
    </div>
</div>